body {
    padding-top: 40px;
    background: #000;
    color: #fff;
}

.well {
    color: #000 !important;
}

.show-image {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.imageInfo {
    margin-top: 20px;
}

.img-rounded {
    max-height: 140px !important;
    max-width: 140px !important;
}

.dropzone-not {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.modal {
    margin-top: 25px;
}

.modal-title {
    color: #fff;
}

.modal-header {
    background: #337AB7;
}

.panel-body, .panel-title{
    color: #000;
}